{{> head }}
{{> navbar }}


<div class="row">

    <div class="col-8">
        <h1>Zero</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ea magni minima quaerat deleniti ducimus debitis eius molestiae ratione numquam. Quia labore sint totam, facere assumenda debitis quo iste voluptate?
        </p>
    </div>

    <div class="col-4">
        <img src="/public/assets/img/zero.jpg" class="img-thumbnail">
    </div>

</div>


{{> footer }}